{% extends 'index.html' %}

{% block title %}
    orders
{% endblock %}
{% block main %}
<!--<a href="/order" class="active">Заявки</a>-->
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
</head>
<body>
<h1>Статистика</h1>
<div style="overflow-x:auto;">
    <table border="1">
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Почта</th>
            <th>город</th>
            <th>Адрес</th>
            <th>Название оборудования</th>
            <th>Серийный номер оборудования</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Артём</td>
            <td>Клепиков</td>
            <td>Владиславович</td>
            <td>young@mail.ru</td>
            <td>Иркутск</td>
            <td>Гоголя,92,294</td>
            <td>Whatsminer M30S++ 112Th/s</td>
            <td>699665498561984</td>
        </tr>
    </table>

</div>

</body>
</html>
    <main>
    </main>
{% endblock %}