{% extends 'index.html' %}

{% block title %}
    orders
{% endblock %}
{% block main %}
    <div style="overflow-x:auto;">
        <table border="1">
            <tr>
                <th>id</th>
                {% if current_user.type_user != 'инженер' %}
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Почта</th>
                <th>Город</th>
                <th>Адрес</th>
                <th>Тип пользователя</th>
                <th>Номер</th>
                {% endif%}
                <th>Название оборудования</th>
                <th>Серийный номер оборудования</th>
                <th>Статус заказа</th>
                <th>Действия</th>
            </tr>
            {% for item in orders %}
            <tr>
                <td>{{item.id}}</td>
                {% if current_user.type_user != 'инженер' %}
                    <td>{{item.name}}</td>
                    <td>{{item.surname}}</td>
                    <td>{{item.patronymic}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.town}}</td>
                    <td>{{item.adress}}</td>
                    <td>{{item.type_user}}</td>
                    <td>{{item.number}}</td>
                {% endif%}
                <td>{{item.name_equipment}}</td>
                <td>{{item.number_equipment}}</td>
                <td>{{item.status_order}}</td>
                {% if current_user.type_user != 'менеджер' %}
                    <td>
                        <a href="/orders_status_edit/{{ item.id }}" class="btn btn-warning">Изменить статус заказа</a>
                    </td>
                {% endif %}
                {% if current_user.type_user != 'инженер' %}
                    <td>
                        <a href="/orders_close/{{ item.id }}" class="btn btn-warning">Закрыть сделку</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}