{% extends 'index.html' %}

{% block title %}
    склад
{% endblock %}
{% block main %}

<div style="overflow-x:auto;">
    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Почта</th>
            <th>город</th>
            <th>Адрес</th>
            <th>Название оборудования</th>
            <th>Серийный номер оборудования</th>
        </tr>
        <tr>
            <td>Артёмм</td>
            <td>Клепиков</td>
            <td>Владиславович</td>
            <td>young@mail.ru</td>
            <td>Иркутск</td>
            <td>Гоголя,92,294</td>
            <td>Whatsminer M30S++ 112Th/s</td>
            <td>699665498561984</td>
        </tr>
    </table>
</div>
    <main>
        склад
    </main>
{% endblock %}